body{
    padding-top: 15vh;
    margin: 50px;
    margin-left:15%;
    margin-right:15%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h3{
    margin-top: 30px;
}

.post-body{
    font-size: larger;
    line-height: 1.5;
    color: #000000CC;
}

.post-title{
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 20px;
}

.responsive-img {
  max-width: 100%;
  height: auto;
  display: block;
}

.code-block {
    background-color: #d5d2d283; 
    color: #464545f4;           
    padding: 16px;            
    border-radius: 8px;       
    font-family: 'Fira Code', 'Courier New', monospace; 
    font-size: 16px;           
    line-height: 1.5;          
    overflow-x: auto;         
}